extends layout

block content
  body
    header
      h1.postTitle
        != postTitle
      p.postAuthor 
        != postAuthor
      p.postDate 
        != postDate
      p.postContents
        != postContents
      div.postNavigate 
        if nextURL 
          a.postNew(href= nextURL)
            p Next
        if previousURL
          a.postOld(href= previousURL)
            p Previous

  footer
    a(href='http://localhost:3000/') Home