extends layout

block content
  body
    header
      h1.postTitle
        != postTitle
      p.postAuthor 
        != postAuthor
      p.postDate 
        != postDate
      p.postContents
        != postContents
  footer
    a(href='http://localhost:3000/') Home